{% extends 'base.html.twig' %}

{% block title %}Mise à jour ingredient{% endblock %}

{% block body %}

<div class="text-center mt-4">
    <h1 class="mt-4">Votre entrée choisi</h1>

    <div class="d-flex justify-content-center">
        <div class="col-3 text-center">
          <div class="card bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ ingredients.categorie }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ ingredients.nom }}</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
